<!doctype html>
<html lang="en">
<head>
<title>Kent County, MI COVID-19 Tracker</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="description" content="Daily stats, graphed, for Kent County, MI COVID-19 / Coronavirus cases. Data taken from Kent County's official website."/>
<meta name="keywords" content="coronavirus, covid-19, covid-19 kent county, coronavirus kent county michigan"/>
<style>
    canvas {
        margin:  auto;
    }
    {{! p {
        text-align: center;
    } }}
    h2 {
        text-align: center;
    } 
    .chart-container {
        position: relative;
        margin: auto;
        height: 100vh;
        width: 80vw;
    }
</style>
<link href="static/css/covid.css" rel="stylesheet">
</head>
<body class="bg-light">       
</body>
</html>

