<html>
<head>
<title>Kent County, MI COVID-19 Tracker</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <style>
canvas{
    margin: 0 auto;
    }
    p {
    text-align: center;
}
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    
</head>

<body>
    <canvas id="myChart" width="800" height="400"></canvas>
    <p><i>* - denotes no official data from Kent County</i></p>
    <p>Data sourced from <a href="https://www.accesskent.com/Health/coronavirus.htm">https://www.accesskent.com/Health/coronavirus.htm</a></p>
    <p>All updates are automatic. Raw data from the Kent County website is stored in <a href="https://micovid-data.s3.us-east-2.amazonaws.com/">AWS</a>. Cleaned data is stored at <a href="https://kentcovid.xyz/data.json">data.json</a></p>
    <p>To see source, file an issue or improve my crappy code, check out <a href="https://github.com/derekslenk/kentcovid.xyz">GitHub</a></p>
    <p>Any preview work for this site can be seen at <a href="https://kentcovid.xyz/beta.php">https://kentcovid.xyz/beta.php</a></p>

    <script>
        var ctx = document.getElementById("myChart").getContext("2d");

        const colors = {
            green: {
                fill: '#e0eadf',
                stroke: '#5eb84d',
            },
            lightBlue: {
                stroke: '#6fccdd',
            },
            darkBlue: {
                fill: '#92bed2',
                stroke: '#3282bf',
            },
            purple: {
                fill: '#8fa8c8',
                stroke: '#75539e',
            },
            black: {
                stroke: '#000000',
            },
        };

        const negative = [{{#negative}}"{{.}}",{{/negative}}];
        const positive = [{{#positive}}"{{.}}",{{/positive}}];
        const pending = [{{#pending}}"{{.}}",{{/pending}}];
        const deaths = [{{#deaths}}"{{.}}",{{/deaths}}];
        const created_at = [{{#created_at}}"{{.}}",{{/created_at}}];

        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: created_at,
                datasets: [{
                    label: "Deaths",
                    fill: false,
                    backgroundColor: colors.purple.fill,
                    pointBackgroundColor: colors.black.stroke,
                    borderColor: colors.black.stroke,
                    pointHighlightStroke: colors.black.stroke,
                    borderCapStyle: 'butt',
                    data: deaths,
                }, {
                    label: "Presumptive Positive",
                    fill: false,
                    backgroundColor: colors.darkBlue.fill,
                    pointBackgroundColor: colors.darkBlue.stroke,
                    borderColor: colors.darkBlue.stroke,
                    pointHighlightStroke: colors.darkBlue.stroke,
                    borderCapStyle: 'butt',
                    data: positive,
                }]
            },
            options: {
                responsive: false,
                // Can't just just `stacked: true` like the docs say
                {{! scales: {
                    yAxes: [{
                        stacked: true,
                    }]
                }, }}
                animation: {
                    duration: 750,
                },
                title: {
                    display: true,
                    text: 'Kent County, MI COVID-19 Tracker'
                }
            }
        });
    </script>
</body>
</html>
