<!doctype html>
<html lang="en">
<head>
<title>Kent County, MI COVID-19 Tracker</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Daily stats, graphed, for Kent County, MI COVID-19 cases. Data taken from Kent County's official website."/>
<meta name="keywords" content="coronavirus, covid-19, covid-19 kent county, coronavirus kent county michigan"/>
<style>
    canvas {
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .chart-container {
        position: relative;
        margin: auto;
        height: 80vh;
        width: 80vw;
    }
</style>
<link href="static/css/covid.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <h3>Kent County, MI COVID-19 Tracker</h3>
    <p>Best viewed in landscape<br/> 
    <i>Data last generated at {{lastmod}}</i> || <a href="https://www.reddit.com/r/CoronavirusMichigan/comments/jj7eiu/1027_2367_new_cases_28_new_deaths_688_positive/" target="_blank" rel="norefferer">MI currently has a 6.88% positive testing rate</a>.<br/>
    <a href="https://www.reddit.com/r/CoronavirusMichigan/comments/jj202t/no_the_increase_in_cases_in_michigan_is_not/"target="_blank" rel="norefferer"> No, the increase in cases in Michigan is not driven from increased testing</a> </p>
        <canvas id="positive_delta_chart"></canvas>
        <br/>
        <canvas id="trend-chart"></canvas>
        <br/>
        <p>
        * 2020-08-23 - Technical delay at capitol delaying data<br/>
        * <a href="static/images/no-data-2020-08-29.png" target="_blank" rel="noreferrer">2020-08-29 - Technical delay at capitol delaying data</a><br/>
        * <a href="static/images/no-data-2020-09-04.png" target="_blank" rel="norefferer">2020-09-04 - No data - unsure why. Numbers calculated based on 2020-09-05 data</a><br/>
        * <b><a href="static/images/no-sunday-updates.png" target="_blank" rel="norefferer">2020-09-06 - No more Sunday updates</a></b><br/>
        * <a href="static/images/no-data-2020-09-23.png" target="_blank" rel="norefferer">2020-09-22 - Data delayed until next day.</a><br/>
        * <a href="static/images/no-data-2020-09-29.png" target="_blank" rel="norefferer">2020-09-29 - Technical issues locally.</a>
        </p>
        <p>Data sourced from
        <a href="https://www.accesskent.com/Health/covid-19-data.htm">https://www.accesskent.com/Health/covid-19-data.htm</a><br/>
        All updates are not automatic anymore. If anyone knows how to parse Microsoft BI public reports, please send an email to derek at slenk dot com. <br/> Raw data from the Kent County website is stored in
        <a href="https://micovid-data.s3.us-east-2.amazonaws.com/">AWS</a>. Cleaned data is stored at
        <a href="data.json">data.json</a><br/>
        To see source, file an issue or improve my crappy code, check out <a href="https://github.com/derekslenk/kentcovid.com">GitHub</a><br/>
                <a rel="me" href="https://counter.social/@slenk">Mastodon</a>
        </p>
    </div>
    <script>
    colors = {
        green: {
            fill: '#e0eadf',
            stroke: '#5eb84d',
        },
        lightBlue: {
            stroke: '#6fccdd',
        },
        darkBlue: {
            fill: '#92bed2',
            stroke: '#3282bf',
        },
        purple: {
            fill: '#8fa8c8',
            stroke: '#75539e',
        },
        black: {
            stroke: '#000000',
        },
    };

    const negative = [{{#negative}}"{{.}}",{{/negative}}];
    const positive = [{{#positive}}"{{.}}",{{/positive}}];
    const pending = [{{#pending}}"{{.}}",{{/pending}}];
    const deaths = [{{#deaths}}"{{.}}",{{/deaths}}];
    const created_at = [{{#created_at}}"{{.}}",{{/created_at}}];
    const positive_delta = [{{#positive_delta}}"{{.}}",{{/positive_delta}}];
    const deaths_delta = [{{#deaths_delta}}"{{.}}",{{/deaths_delta}}];
    const seven_day_avg = [{{#seven_day_avg}}{{.}},{{/seven_day_avg}}];

    document.addEventListener("DOMContentLoaded", function(event) {       
        new Chart(document.getElementById("trend-chart"), {
            type: 'line',
            data: {
                labels: [{{#created_at}}"{{.}}",{{/created_at}}],
                datasets: [{
                    data: [{{#positive}}"{{.}}",{{/positive}}],
                    label: "Confirmed Positive",
                    fill: false,
                    borderColor: colors.darkBlue.stroke,
                    pointRadius: 1.5,
                    pointBackgroundColor: colors.purple.stroke,
                },{
                    label: "Deaths",
                    fill: false,
                    backgroundColor: colors.purple.fill,
                    pointBackgroundColor: colors.black.stroke,
                    borderColor: colors.black.stroke,
                    pointHighlightStroke: colors.black.stroke,
                    data: deaths,
                    pointRadius: 1.5,
                }]
            },
            options: {
                responsive: true,
                animation: {
                        duration: 0 // general animation time
                    },
                hover: {
                        animationDuration: 0 // duration of animations when hovering an item
                    },
                responsiveAnimationDuration: 0,
                maintainAspectRatio: true,
                title: {
                    display: true,
                    text: 'Cumulative Totals'
                },
                scales: {
                    xAxes: [{
                        type: 'time'
                    }]
                }
            
            }
        });
        new Chart(document.getElementById("positive_delta_chart"), {
            type: 'bar',
            data: {
                labels: created_at,
                datasets: [{
                    label: "Daily Positive",
                    fill: true,
                    backgroundColor: colors.darkBlue.stroke,
                    borderColor: colors.darkBlue.stroke,
                    data: positive_delta,
                    barPercentage: 0.5,
                    },
                {
                    label: "Daily Deaths",
                    fill: true,
                    backgroundColor: colors.black.stroke,
                    borderColor: colors.black.stroke,
                    data:deaths_delta,
                    barPercentage: 0.5,
                },
                {
                    label: "Seven Day Average",
                    data: seven_day_avg,
                    fill: false,
                    borderColor: 'rgba(255,0,0,0.5)',
                    type: 'line',
                    pointRadius: 1.5
                }]
            },
            options: {
                responsive: true,
                animation: {
                        duration: 0 // general animation time
                    },
                hover: {
                        animationDuration: 0 // duration of animations when hovering an item
                    },
                responsiveAnimationDuration: 0, // animation duration after a resize
                title: {
                    display: true,
                    text: 'Daily Case Growth'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                    }]
                }
            }
        });
    });
    </script>

    {{! These are the sources for the minified scripts}}
    {{! <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script> }}
    {{! <script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js" integrity="sha256-OVk2fwTRcXYlVFxr/ECXsakqelJbOg5WCj1dXSIb+nU=" crossorigin="anonymous"></script> }}
    {{! <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.2/dist/chartjs-adapter-luxon.min.js" integrity="sha256-bgbnCTiuk9rPHmlLrX1soTSIxQJs26agg9kSWIhdcfc=" crossorigin="anonymous"></script> }}
    {{! <script src="static/js/moment.min.js"></script> }}
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <script src="static/js/luxon.min.js"></script>
    <script src="static/js/chartjs-adapter-luxon.min.js"></script>
    <script src="static/js/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script async defer data-domain="kentcovid.com" src="https://analytics.slenk.com/js/plausible.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
       
</body>
</html>

